.landing-hero {
    position: relative;
    padding: 240px 0 95px;
    background-color: $dark-gray;

    @media #{$phone} {
        padding: 0;
    }

    .container {
        position: static;
        max-width: 820px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$phone} {
            flex-direction: column;
            padding: 0;
        }
    }
}

.landing-hero__item {

    @media #{$phone} {
        position: relative;
        display: flex;
        align-items: center;
        min-height: calc(100vh - 71px);
    }

    //&:before {
    //    content: "";
    //    display: none;
    //    width: 100%;
    //    height: 100%;
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    background-color: rgba(31, 34, 37, 0.6);
    //    @media #{$phone} {
    //        display: block;
    //    }
    //}

    &:nth-child(2) {

        .landing-hero__item-bg {

            &:before {
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(31, 34, 37, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

                @media #{$phone} {
                    background: rgba(31, 34, 37, 0.6);
                }
            }
        }
    }
}

.landing-hero__item-bg-video{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;

    @media #{$phone} {
        display: none;
    }
}

.landing-hero__item-bg {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 0.5s ease;
    z-index: 1;
    opacity: 0;

    @media #{$phone} {
        opacity: 1;
    }

    .landing-hero__item--active & {
        opacity: 1;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, rgba(31, 34, 37, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        z-index: 2;

        @media #{$phone} {
            background: rgba(31, 34, 37, 0.6);
        }
    }
}

.landing-hero__content {
    max-width: 280px;
    text-align: center;
    position: relative;
    padding-bottom: 42px;
    z-index: 3;
    opacity: .5;
    transition: 0.5s ease;

    @media #{$phone} {
        margin: 0 auto;
        opacity: 1;
    }

    .landing-hero__item--active & {
        opacity: 1;
    }
}

.landing-hero__title {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 4.8px;
    @include fsz(20px);
    padding-bottom: 17px;
    margin-bottom: 13px;
    position: relative;
    @media #{$phone} {
        letter-spacing: 3.8px;
        @include fsz(16px);
    }

    &:after {
        content: "";
        display: block;
        height: 1px;
        width: 195px;
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -98px;
    }
}

.landing-hero__description {
    color: $white;
    margin-bottom: 23px;
    @media #{$phone} {
        @include fsz(14px);
    }
}

.landing-hero__intro {
    letter-spacing: 2.6px;
    @include fsz(11px);
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 110px;
    line-height: 1.9;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 3;

    @media #{$phone} {
        background-color: $bright-gray;
        @include fsz(12px);
        padding: 47px 10px;
        margin-top: 0;
        line-height: 1.7;
    }

    &:before {
        content: "";
        height: 1px;
        background-color: white;
        width: 280px;
        position: absolute;
        top: -16px;
        left: 50%;
        margin-left: -140px;
        @media #{$phone} {
            display: none;
        }
    }
}

.landing-hero__link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        white-space: nowrap;

        .landing-hero__item--active & {
            background-color: $white;
            color: $dark-gray;

            @media #{$phone} {
                background-color: transparent;
                color: $white;
            }
        }
    }
}
