.step-block {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media #{$phone} {
        padding: 10px 0 14px;
        overflow: hidden;
        justify-content: flex-start;
    }

    .step-block__close {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 78px;
        border-right: 1px solid #dbdbdb;
        padding: 20px;
        @media #{$phone} {
            width: 63px;
            padding: 12px;
            background-color: #f4f4f4;
            z-index: 1;
        }

        .icon-close {
            width: 27px;
            height: 27px;
        }
    }
}

.form-step {
    display: inline-block;
    border-bottom: 2px solid rgba($dark-gray, 0.1);
    @media #{$phone} {
        position: relative;
        left: 87px;
        border-bottom: 1px solid rgba($dark-gray, 0.1);
    }

    &--active2 {
        @media #{$phone} {
            left: 3px;
        }
    }

    &--active3 {
        @media #{$phone} {
            left: -77px;
        }
    }

    &--active4 {
        @media #{$phone} {
            left: -162px;
        }
    }

    .step__item {
        display: inline-block;
        @include fsz(11px);
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 34px;
        position: relative;
        padding-bottom: 5px;
        color: $silver;
        @media #{$phone} {
            @include fsz(9px);
        }

        &.step__item--active {
            color: $dark-gray;

            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: $dark-gray;
                position: absolute;
                bottom: -2px;
                left: 0;
                @media #{$phone} {
                    bottom: -1px;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.step-nagivation {
    padding: 18px 0 10px;

    @media #{$phone} {
        display: none;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &.step-nagivation--alt {
        padding: 9px 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &:after {
            display: none;
        }

        @media #{$phone} {
            display: none;
        }

        .bab-form-submitted-7 & {
            display: none;
        }
    }

    &.step-nagivation--mobile {
        display: none;
        text-align: center;

        .step-next {
            float: none;
            margin-right: 0;
            font-weight: 700;
            @include fsz(13px);
            color: $dark-gray;
        }

        @media #{$phone} {
            display: block;
            padding-top: 0;
            max-width: 215px;
            margin: 0 auto;
        }

        .mobile__active-holder--active & {
            @media #{$phone} {
                display: none;
            }
        }
    }

    &.step-nagivation--text-center {
        @media #{$phone} {
            text-align: center;
        }
    }

    .btn {
        opacity: 0;
        pointer-events: none;
    }

    &.build-a-boat--finish {

        .btn {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.step-next,
.step-prev {
    letter-spacing: 2.6px;
    @include fsz(11px);
    font-weight: 800;
    text-transform: uppercase;
    color: #3a4249;

    &:hover {
        color: $primary-color;
    }
}

.step-prev {
    float: left;
    margin-left: 30px;

    .build-a-boat--start & {
        opacity: 0;
        pointer-events: none;
    }
}

.step-next {
    float: right;
    margin-right: 30px;

    .build-a-boat--end & {
        opacity: 0;
        pointer-events: none;
    }
}

.color-block {
    padding: 0 0 63px;
    @media #{$phone} {
        padding: 0 0 47px;
    }

    &.selected {
        display: none;
        @media #{$phone} {
            display: block;
        }

        .color-block__picker {
            @media #{$phone} {
                display: block;
                margin: 42px auto 20px;
                width: 230px;
            }
        }

    }

    .container {
        max-width: 690px;
        @media #{$phone} {
            padding: 0;
            max-width: 100%;
        }
    }

    .color-block__inner {
        border-bottom: 1px solid rgba(31, 34, 37, 0.26);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 38px;
        margin-bottom: 25px;
        @media #{$phone} {
            position: relative;
            padding-top: 80px;
            margin-bottom: 20px;
        }
    }

    .color-shader__title,
    .color-picker__title {
        display: block;
        text-align: center;
        margin: 0 0 8px;
        text-transform: uppercase;
        @include fsz(9px);
        letter-spacing: 2px;
        font-weight: 700;
        color: $dark-gray;
        pointer-events: none;
    }

    .color-shader__title {
        margin: 0;
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .iro__slider {
        margin-top: 38px !important;
    }

    .color-block__picker--clear {
        display: block;
        position: absolute;
        left: -20px;
        top: 20px;
        width: 27px;
        height: 30px;
        background: url(images/no-color-large-2.svg) no-repeat 0 0;
        background-size: contain;
        outline: none;
        padding: 0;
        margin: 0;
        border-radius: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        box-shadow: none;
        border: .75px solid #979797;
        z-index: 100;
    }

    .color-block__picker--white {
        display: block;
        position: absolute;
        right: -20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
        outline: none;
        padding: 0;
        margin: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        box-shadow: none;
        border: .75px solid #979797;
        z-index: 100;

        span {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .5px;
            @include fsz(8px);
            padding-top: 2px;
            color: #979797;
        }
    }

    .color-block__option {
        width: 66%;
        @media #{$phone} {
            width: 100%;
        }
    }
}

.mobile__title-container {
    position: relative;

    @media #{$phone} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.color-block__title {
    color: $silver;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    @include fsz(11px);
    font-weight: 700;
    padding-bottom: 9px;
    display: block;
    margin: 0 0 24px;
    border-bottom: 1px solid rgba(31, 34, 37, 0.26);
    line-height: 1;

    @media #{$phone} {
        position: relative;
        padding: 21px 0;
        background-color: #f4f4f4;
        color: $bright-gray;
        @include fsz(10px);
        text-align: center;
        letter-spacing: 2.9px;
        border-bottom: none;
        margin-bottom: 30px;
        z-index: 1;
    }

    .mobile__title-container & {
        @media #{$phone} {
            margin: 0;
        }
    }
}

.color-block__picker {
    position: relative;
    width: 28%;

    @media #{$phone} {
        display: none;
    }

    .mobile__active-holder--active & {

        @media #{$phone} {
            display: block;
            width: auto;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
}

.mobile__active-holder {
    display: none;

    @media #{$phone} {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #f4f4f4;
        color: $bright-gray;
        @include fsz(10px);
        text-align: center;
        letter-spacing: 2.9px;
        z-index: 2;
    }

    .mobile__active-holder--active & {

        @media #{$phone} {
            display: block;
        }
    }
}

.area-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 20px;
    @media #{$phone} {
        max-width: 215px;
        margin: 0 auto 15px;
    }

    .mobile__active-holder--active & {

        @media #{$phone} {
            display: none;
        }
    }

    .area-list__item {
        margin-bottom: 10px;
        letter-spacing: 3.4px;
        @include fsz(13px);
        text-transform: uppercase;
        width: 50%;
        position: relative;
        padding-left: 23px;
        padding-right: 15px;
        box-sizing: border-box;
        text-align: left;
        cursor: pointer;

        @media #{$phone} {
            padding: 4px 0 4px 43px;
            margin-bottom: 15px;
            width: 100%;
        }

        &.active {
            font-weight: 800;
            padding-left: 30px;
            @media #{$phone} {
                font-weight: 400;
                padding-left: 43px;
            }
        }
    }
}

.area-list__color-box {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 22px;
    margin-right: 7px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url(images/no-color-small-2.svg) no-repeat 0 0;
    background-size: cover;
    border: .75px solid #979797;

    @media #{$phone} {
        width: 27px;
        height: 30px;
        background: url(images/no-color-large-2.svg) no-repeat 0 0;
        background-size: cover;
    }

    .active & {
        width: 22px;
        height: 22px;
        margin-right: 0;
        background: url(images/no-color-square-2.svg) no-repeat 0 0;
        background-size: cover;

        @media #{$phone} {
            width: 27px;
            height: 30px;
            background: url(images/no-color-large-2.svg) no-repeat 0 0;
            background-size: cover;
        }
    }

    .mobile__active-holder & {

        @media #{$phone} {
            position: relative;
            top: auto;
            left: auto;
        }
    }
}

.area-list__title {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    .mobile__active-holder & {
        font-weight: 700;
        text-transform: uppercase;
    }

    &:before {

        .active & {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            vertical-align: middle;
            background: url(images/caret-left.svg) no-repeat 0 0;

            @media #{$phone} {
                display: none;
            }
        }
    }

    &:after {
        .mobile__active-holder & {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            vertical-align: middle;
            background: url(images/caret-left.svg) no-repeat 0 0;
            position: relative;
            transform: rotate(-90deg);
            margin-bottom: 6px;
        }
    }
}

.color-palette {
    max-width: 340px;
    background-color: #f4f4f4;
    padding: 12px 22px 6px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    @media #{$phone} {
        display: none;
    }

    &.has-recent-colors {
        opacity: 1;
        pointer-events: auto;
    }

    .color-palette__title {
        letter-spacing: 2.1px;
        @include fsz(9px);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 13px;
        display: block;
        color: $bright-gray;
    }
}

.color-list {
    display: flex;
    flex-wrap: wrap;

    .color-list__item {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        border: .75px solid #979797;
    }
}

.text-center {
    text-align: center;
}

.selected-item {
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
    min-height: 52px;

    .selected-item__color-box {
        width: 30px;
        height: 30px;
        background: url(images/no-color-square.svg) no-repeat 0 0;
        background-size: cover;
        margin-right: 8px;

        &--white {
            background: white;
            border: 1px solid #616161;
        }
    }

    .selected-item__title {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.9px;
        @include fsz(10px);

        &:after {
            content: "";
            display: inline-block;
            width: 7px;
            height: 12px;
            background: url(images/caret-left.svg) no-repeat 0 0;
            transform: rotate(-90deg);
            background-size: cover;
            vertical-align: middle;
            margin-left: 6px;
        }
    }
}

.motor__description {

    .motor-option__list-item & {
        display: none;
    }
}

.motor-color {
    padding-top: 25px;

    .motor-option__list-item & {
        display: none;
    }

    .motor-color__item {
        cursor: pointer;
        margin-bottom: 15px;

        &--white {
            .motor-color__box {
                border: 1px solid $dusty-gray;
                background-color: $white;
            }
        }

        &--black {
            .motor-color__box {
                background-color: $black;
            }
        }

        &.active {
            .motor-color__title {
                font-weight: 800;
                margin-bottom: 4px;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    background: url(images/caret-left.svg) no-repeat 0 0;
                    transform: rotate(-180deg);
                }
            }
        }
    }

    .motor-color__title {
        letter-spacing: 2.6px;
        @include fsz(11px);
        display: block;
        text-transform: uppercase;
        color: $bright-gray;
        margin-bottom: 2px;
        text-align: center;
        white-space: nowrap;
    }

    .motor-color__box {
        display: block;
        width: 60px;
        height: 23px;
    }
}

.motor-thumbnail {
    max-width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;

    &.motor-thumbnail--active {
        img {
            opacity: 1;
        }

        .icon-close {
            display: block;
        }
    }

    img {
        opacity: 0;
    }

    .icon-close {
        display: none;
        width: 27px;
        height: 27px;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: rotate(0);

        &.active {
            transform: rotate(45deg);
        }
    }
}

.motor-option {
    padding: 0 0 63px;

    &.selected {
        display: none;
        @media #{$phone} {
            display: block;
        }

        .motor-option__details {
            display: flex;
            width: 215px;
            margin: 42px auto 0;
        }
    }

    @media #{$phone} {
        padding: 0 0 47px;
    }

    &.selected {
        display: none;
        @media #{$phone} {
            display: block;
        }
    }

    .container {
        max-width: 800px;

        @media #{$phone} {
            padding: 0;
            max-width: 100%;
        }
    }

    .motor-option__inner {
        border-bottom: 1px solid rgba(31, 34, 37, 0.26);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-bottom: 25px;

        @media #{$phone} {
            display: block;
            padding-top: 80px;
            margin-bottom: 20px;
        }
    }

    .motor-option__wrap {
        width: 60.4%;
        padding-top: 20px;
        @media #{$phone} {
            width: 100%;
            padding-top: 0;
        }
    }

    .motor-option__title {
        color: $silver;
        text-transform: uppercase;
        letter-spacing: 2.6px;
        @include fsz(11px);
        font-weight: 700;
        padding-bottom: 9px;
        display: block;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(31, 34, 37, 0.26);
        line-height: 1;

        @media #{$phone} {
            padding: 21px 0;
            background-color: #f4f4f4;
            color: $bright-gray;
            @include fsz(10px);
            text-align: center;
            letter-spacing: 2.9px;
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}

.motor-option__details {
    width: 34%;
    display: flex;
    justify-content: space-between;

    @media #{$phone} {
        display: none;
        width: auto;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mobile__active-holder--active & {

        @media #{$phone} {
            display: flex;
        }
    }
}

.motor-option__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$phone} {
        max-width: 215px;
        margin: 0 auto 15px;
    }

    .mobile__active-holder--active & {

        @media #{$phone} {
            display: none;
        }
    }

    .motor-option__list-item {
        margin-bottom: 10px;
        letter-spacing: 3.4px;
        @include fsz(13px);
        text-transform: uppercase;
        width: 48%;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        @media #{$phone} {
            text-align: center;
            margin-bottom: 11px;
            width: 100%;
            padding-right: 0;
        }

        &.active {
            font-weight: 800;

            .motor-option__list-title:before {
                content: "";
                display: inline-block;
                width: 13px;
                height: 11px;
                vertical-align: middle;
                background: url(images/caret-left.svg) no-repeat 0 0;
                @media #{$phone} {
                    display: none;
                }
            }
        }
    }

    .motor-option__list-title {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
}

.motor-option__note {
    @include fsz(8px);
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #8F8F8F;
    @media #{$phone} {
        display: none;
    }
}

.motor-option__description {
    width: 100%;
    padding-top: 35px;
    display: none;

    @media #{$phone} {
        display: none;
        padding: 35px 10px 0;
    }

    h1, h2, h3, h5, h6 {
        margin-bottom: 5px;
    }

    h1, h2 {
        @include fsz(15px);
    }

    h3 {
        @include fsz(13px);
    }

    h4, h5, h6 {
        @include fsz(10px);
    }

    p {
        margin-bottom: 5px;
    }
}

/* Make it Yours */
.custom-hero__form {
    position: absolute;
    right: 13px;
    top: 13px;
    z-index: 4;
}

.custom-hero__content {
    position: absolute;
    top: 27px;
    left: 15px;
    display: none;
    z-index: 2;

    .build-a-boat--end & {
        display: block;
    }

    .custom-hero__title {
        @include fsz(14px);
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 9px;

        strong {
            display: block;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $bright-gray;
            @include fsz(34px);
            line-height: 30px;
            padding-left: 7px;
            @media #{$phone} {
                @include fsz(20px);
                line-height: 1;
            }
        }
    }
}

.icon-box {
    display: none;
    width: 32px;
    height: 32px;
    text-indent: -999em;
    margin-bottom: 10px;

    .build-a-boat--end & {
        display: block;
    }
}

.icon-box--edit {
    background: url(images/edit.svg) no-repeat 0 0;
}

.icon-box--facebook {
    background: url(images/facebook.svg) no-repeat 0 0;
}

.form--sticky {
    display: none;
    width: 423px;
    background-color: $white;
    padding: 16px 35px 8px;
    position: absolute;
    right: 45px;
    top: 0;
    z-index: 1;

    @media #{$phone} {
        width: 253px;
        padding: 10px 15px 3px;
    }

    .build-a-boat--modelName & {
        display: block;
    }

    .form__field {
        margin-bottom: 6px;
    }

    .form__field-label {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        @include fsz(9px);
        color: $silver;
        display: block;
        margin-bottom: 13px;
        @media #{$phone} {
            margin-bottom: 0;
        }
    }

    .form__field--center {
        text-align: center;
    }

    input[type="text"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-bottom: 1px solid $silver;
        @include fsz(21px);
        font-weight: 700;
        color: #1f2225;
        text-align: center;
        text-transform: uppercase;

        @media #{$phone} {
            @include fsz(14px);
            padding: 7px 10px;
        }

        &::-moz-placeholder {
            font-weight: 700;
        }

        &:-ms-input-placeholder {
            font-weight: 700;
        }

        &::-webkit-input-placeholder {
            font-weight: 700;
        }
    }

    input[type="submit"] {
        padding: 0;
        background: transparent;
        @include fsz(11px);
        color: $bright-gray;
        letter-spacing: 2.6px;
        border: 0;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}

.contact-block {
    padding: 10px 0 60px;
    @media #{$phone} {
        padding: 32px 0;
    }

    .container {
        max-width: 820px;
    }

    .gform_confirmation_message {
        @include fsz(26px);
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin-top: 20px;
        margin-bottom: 6px;
        color: $black;

        @media #{$phone} {
            @include fsz(18px);
        }
    }

    .terms-condition,
    .form-option,
    .form__title {

        .bab-form-submitted-7 & {
            display: none;
        }
    }

    .form-holder {

        .bab-form-submitted-7 & {
            width: auto;
        }
    }
}

.contact-block__title {
    @include fsz(15px);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 25px;

    @media #{$phone} {
        @include fsz(14px);
        margin-bottom: 33px;
    }

    .bab-form-submitted-7 & {
        display: none;
    }

    strong {
        font-weight: 700;
        @media #{$phone} {
            display: block;
        }
    }
}

.contact-block__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .bab-form-submitted-7 & {
        display: block;
    }
}

.form-option {
    width: calc(50% - 10px);
    @media #{$phone} {
        width: 100%;
    }

    .option-list {
        @media #{$phone} {
            margin-bottom: 0;
        }
    }
}

.form-holder {
    width: calc(50% - 10px);
    @media #{$phone} {
        width: 100%;
    }
}

.form__note {
    @include fsz(9px);
    text-transform: uppercase;
    color: $bright-gray;
    font-weight: 600;
    letter-spacing: 2.1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 128px;
    @media #{$phone} {
        display: none;
    }
}

.terms-condition {
    @include fsz(8px);
    display: block;
    text-align: center;
    color: #8f8f8f;
    letter-spacing: 1px;
    margin-top: 20px;
    @media #{$phone} {
        display: none;
    }

    a {
        font-weight: 700;
        color: #8f8f8f;

        &:hover {
            color: $dark-gray;
        }
    }
}

.bab-form__refresh {
    display: none;
    color: $black;
    text-align: center;
    @include fsz(13px);

    .bab-form-submitted-7 & {
        display: block;
    }

    a {
        color: $black;
        font-weight: 700;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.bab-lazy-load-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 422px;
    z-index: 20;
    background: white;

    @media (max-width: 1200px) {
        height: calc(844/2400 * 100vw);
    }

    p {
        letter-spacing: 2.5px;
        font-weight: 600;
        font-size: 14px;

        &:before {
            content: '';
            display: block;
            width: 69px;
            height: 70px;
            background: url(images/icon-all-models-grey.png) no-repeat center center;
            background-size: cover;
            margin: 0 auto 15px;
        }
    }
}

#bab-lazy-load-container {
    display: none;
}
