.section-title{
    @include fsz(15px);
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color:$bright-gray;
    border-bottom:1px solid rgba($dark-gray, 0.5);
    padding-bottom: 10px;
    margin-bottom: 35px;
    @media #{$phone} {
        @include fsz(11px);
        text-align: center;
        border-bottom: 1px solid rgba(31, 34, 37, 0.26);
        margin-bottom: 16px;
     }
    &--gray{
        color:$silver;
    }
}

.column-block{
    padding: 35px 0 0;

    .column-block__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column-block__item{
        width:calc(50% - 10px);
        margin-bottom: 60px;
        @media #{$phone} {
            width:100%;
         }
    }

    .column-block__thumbnail{
        margin-bottom: 27px;
        @media #{$phone} {
            margin-bottom: 14px;
         }
    }

    .column-block__title{
        text-transform: uppercase;
        @include fsz(26px);
        margin-bottom: 0;
        @media #{$phone} {
            @include fsz(20px);
            text-align: center;
         }

        a {
            color: $bright-gray;
        }
    }

    .column-block__date{
        color:$bright-gray;
        text-transform: uppercase;
        @include fsz(20px);
        font-weight: 700;
        display: block;
        margin-bottom: 4px;
        @media #{$phone} {
            margin-bottom: 18px;
            @include fsz(16px);
            font-weight: 400;
            text-align: center;
            letter-spacing: 3.8px;
         }
    }

    .column-block__content{
        margin-bottom: 26px;
        @media #{$phone} {
            @include fsz(14px);
            line-height: 1.8;
            font-weight: 300;
         }

        .page-events-archive & {

            @media #{$phone} {
                text-align: center;
            }
        }
    }
}

.btn-group{
    .btn{
        margin-right: 5px;
        margin-bottom: 4px;
        @media #{$phone} {
            padding: 21px 38px;
            background-color: $dark-gray;
            color: #FFFFFF;
         }
        &:hover,
        &:active,
        &:focus {
            @media #{$phone} {
                background-color: #6d0707;
             }
        }

    }
    @media #{$phone} {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
     }
}

.no-events {

}

.no-events__newsletter {
    max-width: 420px;

    p {
        margin-bottom: 10px;
    }
}
