.model-intro{
  .container{
    @media #{$phone} {
      background-color:#3a4249;
    }
  }
  .model-intro__thumbnail{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 376px;
    @media #{$phone} {
      min-height: 288px;
    }
  }
  .model-intro__content{
    position: absolute;
    bottom: 40px;
    right:0;
    max-width: 580px;
    color:$white;
    min-height: 65px;
    @media #{$phone} {
      position: static;
      padding: 46px 0;
      text-align: center;
      @include fsz(14px);
      max-width: 100%;
    }
    &:before{
      content:"";
      display: block;
      height:1px;
      width: 468px;
      background-color: $white;
      position: absolute;
      top: -8px;
      left: -105px;
      @media #{$phone} {
        display: none;
      }
    }
    &:after{
      content: "";
      display: block;
      height: calc(100% + 51px);
      border-left: 2px dashed white;
      width: 1px;
      position: absolute;
      left: -16px;
      top: -60px;
      @media #{$phone} {
        display: none;
      }
    }
  }
}

.content-wrap{
  padding:10px 0 40px;
  .content-block:first-child .content-block__title{
    margin-top: 20px;
  }
}
.column-model{
  max-width: 985px;
  margin: 0 auto;
  border-top: 1px solid #D8D8D8;
  padding-top: 34px;
  margin-top: 26px;
  &.column-model--two-col{
    column-count: 2;
    column-gap: 25px;
    @media #{$phone} {
      column-count: 1;
    }
    .column-model__item{
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      -webkit-backface-visibility: hidden;
      width: 100%;
      margin-bottom: 50px;
      @media #{$phone} {
        margin-bottom: 10px;
      }
    }
  }

  .column-model__item{
    width: 100%;
    margin-bottom: 33px;
    &.active .column-model__trigger{
      transition: 0.25s;
      transform: rotate(45deg);
    }
  }
  .column-model__trigger{
    width: 53px;
    height: 53px;
    display: block;
    margin-left: -9px;
    @media #{$header} {
      width: 33px;
      height: 33px;
    }
  }

  .column-model__title-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    @media #{$header} {
      justify-content: space-between;
    }
    @media #{$phone}{
      background-color:#e3e3e3;
      padding: 15px 15px 15px 22px;
    }
  }
  .column-model__title{
    margin-bottom: 0;
    text-transform: uppercase;
    @media #{$header} {
      @include fsz(20px);
    }
  }
  .column-model__content{
    border-top: 1px solid rgba(151,151,151,0.3);
    padding-top: 15px;
    display: none;
    // p{
    //   margin-bottom: 18px;
    // }
  }
}

