.layout{
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media #{$header} {
      padding:0;
    }
  }
  .layout__one-third{
    width: 29%;
    position: relative;
    background-color: #F2F2F2;
    padding:62px 58px 0 0;
    @media #{$header} {
      width: 100%;
      padding: 50px 0 0;
    }
    &:before{
      content:"";
      display: block;
      width: 4000px;
      height: 100%;
      background-color: #F2F2F2;
      position: absolute;
      left:-4000px;
      top:0;
      @media #{$header} {
        display: none;
      }
    }
  }
  .layout__two-third{
    width: 71%;
    padding:35px 0 90px 58px;
    @media #{$header} {
      width: 100%;
      padding: 50px 20px;
    }
    @media #{$phone} {
      padding-bottom: 50px;
    }
  }
}
.post-list{
  .section-title{
    margin-bottom: 45px;
    @media #{$phone} {
     display: none;
    }
  }
}
.post{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
  @media #{$phone} {
   text-align: center;
    margin-bottom: 37px;
    padding-bottom: 13px;
  }
  &:after{
    content:"";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    height: 1px;
    bottom: 0;
    background-image: linear-gradient(90deg,$dusty-gray,$dusty-gray 55%,transparent 55%,transparent 100%);
    background-size: 33px 1px;
    opacity: 0.26;
  }
  &:last-child{
    margin-bottom: 70px;
    padding-bottom: 0;
    @media #{$phone} {
      margin-bottom: 50px;
    }
    &:after{
      display: none;
    }
  }
  .post__image{
    width: 36%;
    img{
      @media #{$phone} {
        margin: 0 auto;
      }
    }
    @media #{$phone} {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  .post__content{
    width: 61.6%;
    @media #{$phone} {
      width: 100%;
      padding: 0 10px;
    }
    .btn-holder{
      text-align: right;
      @media #{$phone} {
       text-align: center;
      }
    }
  }
  .post__title{
    @include fsz(26px);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    @media #{$phone} {
      @include fsz(20px);
      margin-bottom: 5px;
    }

      a {
          color: $bright-gray;
      }
  }
  .post__meta{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    @include fsz(10px);
    text-indent: 1px;
    border-bottom: 1px solid $dusty-gray;
    padding-bottom: 3px;
    color:$bright-gray;
    @media #{$phone} {
      padding-bottom: 11px;
    }
  }
  .post__description{
    margin-top: 12px;
    margin-bottom: 14px;
    @media #{$phone} {
      @include fsz(14px);
    }
  }
  .btn{
    min-width: 180px;
  }
}

.layout--reverse{
  overflow: hidden;
  .container{
    flex-direction: row-reverse;
    max-width: 1210px;
    @media #{$header} {
      padding:0 20px;
    }
    @media #{$phone-small} {
      padding:0 10px;
    }
  }
  .layout__one-third {
    width: 29%;
    padding: 57px 0 0 62px;
    @media #{$header} {
      width: 39%;
      padding: 57px 0 0 32px;
    }
    @media #{$phone} {
      display: none;
    }
    &:before{
      left: auto;
      right: -4000px;
      @media #{$header} {
        display: block;
      }
    }
  }
  .layout__two-third {
    width: 71%;
    padding: 58px 60px 50px 0;
    @media #{$header} {
      width: 61%;
      padding: 58px 30px 50px 0;
    }
    @media #{$phone} {
      width: 100%;
      padding: 26px 0
    }
  }
}

.load-more{
  @media #{$phone} {
    padding: 0 10px;
  }
}

