.portal-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 30px 0 74px;
}

.portal-gallery__item {
    display: block;
    width: calc(25% - 20px);
    padding-bottom: calc(320/560 * 25%);
    margin: 0 10px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: 1024px) {
        padding-bottom: calc(320/560 * 33.33%);
        width: calc(33.33% - 20px);
    }

    @media #{$phone} {
        width: 100%;
        margin: 0 0 15px;
        padding-bottom: calc(360/560 * 100%);
    }
}

.portal-gallery__play-btn{
    width: 100%;
    height: 100%;
    background: url(images/video-play.png) no-repeat center;
    position: absolute;
    background-size: 50px 50px;
}

.portal-gallery__nav {
    text-align: center;
    margin-bottom: 30px;
}

.portal-gallery__nav-link {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    padding: 17px 35px;
    font-weight: 300;
    color: $bright-gray;
    border-right: 1px solid #979797;

    @media #{$phone} {
        letter-spacing: 0;
        padding: 8px;
        font-size: 14px;
    }

    &:last-child {
        border-right: 0;
    }

    &.portal-gallery__nav-link--active {
        font-weight: 700;
    }
}

.portal-gallery__prompt-wrap{
    text-align: center;
    width: 100%;
    margin: 50px auto 0;
}

.portal-gallery__upload-prompt{
    font-weight: bold;
}