/**
 * Accordion container element
 */
.accordion__container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__container > li {
  margin: 0;
}

.accordion__container > li:before {
  content: "\200B";
  position: absolute;
}

/**
 * Accordion Heading
 */
.accordion__heading {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  color: $dark-gray;
  @media #{$phone-small} {
    font-size: 20px;
  }
}

.accordion__trigger{
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  &:before,
  &:after{
    content:'';
    margin: -14px -45px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    transition: 0.25s;
    @media #{$phone-small} {
      width: 35px;
      height: 35px;
      margin: -7px -34px 0 0;
    }
  }
  &:before{
    background: url("images/loding-spiral-sm.png") no-repeat center;
    background-size: cover;
    z-index: -1;
  }
  &:after{
    background-image: url("images/add.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    @media #{$phone-small} {
      background-size: 50%;
    }
  }
  &:hover{
    &:before{
      transform: rotate(360deg);
      transition: 0.25s;
    }
  }
  &[aria-expanded="true"]{
    &:after{
      transform: rotate(45deg);
      transition: 0.25s;
    }
  }
}

.accordion__panel {
  background-color: inherit;
  max-height: 0vh;
  overflow: hidden;
  padding: 0.001em 1.25em;
  position: relative;
  visibility: hidden;
  z-index: 1;
}

.accordion__panel--transition {
  transition: max-height .2s ease-in-out,
  padding-top .2s ease-in-out,
  padding-bottom .2s ease-in-out;
}

.accordion__panel > :last-child {
  margin-bottom: 0;
}

.accordion__panel[aria-hidden="false"] {
  max-height: 100vh;
  overflow: auto;
  padding: 1.25em;
  visibility: visible;
}
