.mobile-nav__toggle{
    text-transform: uppercase;
    color:$white;
    @include fsz(11px);
    font-weight: 700;
    letter-spacing: 1.5px;
    .icon-plus{
        vertical-align: middle;
        width: 33px;
        height: 33px;
        transform: rotate(0);
        margin-left: 3px;
        .nav__visible &{
            transform: rotate(45deg); 
        }
    }
} 