.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #262a2e; /* Old browsers */
  background: -moz-linear-gradient(top, #262a2e 0%, $bright-gray 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #262a2e 0%,$bright-gray 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #262a2e 0%,$bright-gray 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262a2e', endColorstr='$bright-gray',GradientType=0 ); /* IE6-9 */

    .logged-in & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

  .header__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // max-width: 1440px;
    padding:0 33px;
    margin: 0 auto;
    @media #{$header} {
      min-height: 71px;
    }
    @media #{$phone} {
      padding:0 20px;
    }
  }
  .header__branding{
    width: 125px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    img{
      width: 100%;
    }
  }
}

.quick-links{
  display: flex;
  align-items: center;
  @media #{$header} {
    display: none;
  }
  .quick-links__item{
    margin-right: 22px;
    a{
      color:$white;
      font-weight: 700;
      text-transform: uppercase;
      &.link:hover{
        opacity: 0.6;
      }
    }
  }
}
/* Navigation */

.nav-container {
  display: inline-block;
  padding-right: 40px;
  padding-left: 30px;
  position: relative;
  margin-right: auto;
  @media #{$header} {
    display: none;
  }
  .nav__visible & {
    @media #{$header} {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bright-gray;
      padding: 0 0 20px 0;
    }
  }
  .nav__visible &:before{
    @media #{$header} {
      content: "";
      display: block;
      height: 82px;
      background-color: $dark-gray;
      position: absolute;
      z-index: 1;
      width: 100%;
    }
  }

    .logged-in.nav__visible &:before{
        @media #{$header} {
            height: 114px;
        }

        @media screen and (max-width: 782px) {
            height: 128px;
        }
    }

  .social-block{
    display: none;
    @media #{$header} {
      width: 100%;
      max-width: 270px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    a{
      @media #{$header} {
        width: 59px;
        height: 59px;
      }
    }
    .icon {
      @media #{$header} {
        height: 32px;
        width: 32px;
      }
    }
    .icon-youtube{
      @media #{$header} {
        height: 28px;
        width: 28px;
      }
    }
    .icon-twitter{
      @media #{$header} {
        height: 32px;
        width: 32px;
      }
    }
  }
}

.nav-container__inner{
  .nav__visible & {
    @media #{$header} {
      overflow-y: scroll;
      height: calc(100vh - 80px);
      margin-top: 80px;
      display: block;
      -ms-overflow-style: none;  // IE 10+
      scrollbar-width: none;  // Firefox
      &::-webkit-scrollbar {
        display: none;  // Safari and Chrome
      }
    }
  }

    .nav__visible.logged-in & {

        @media #{$header} {
            margin-top: 112px;
        }

        @media screen and (max-width: 782px) {
            margin-top: 126px;
        }
    }
}

.primary-nav {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @media #{$header} {
    background: $dark-gray;
    margin-top: 0;
  }
  li {
    position: relative;
    @media screen and (min-width: 1099px) {
      display: block !important;
    }
    .nav__visible & {
      @media #{$header} {
        width: 100%;
        border-bottom: 1px solid black;
        text-align: center;
      }
    }
    &.menu-item-has-children.menu-open-parent:before{
      @media #{$header} {
        content:"";
        display: block;
        position: absolute;
        background: $bright-gray;
        height: 75px;
        width: 100%;
        left: 0;
      }
    }
    &.menu-item-has-children.menu-open-parent a{
      @media #{$header} {
        padding: 27px 0;
      }
    }
    > a {
      display: flex;
      align-items: baseline;
      color: #ffffff;
      @include fsz(13px);
      text-transform: uppercase;
      font-weight: 700;
      padding: 19px 21px 32px 17px;
      line-height: 1.3;
      @media #{$desktop-small} {
        padding: 19px 12px 32px;
      }
      .nav__visible & {
        @media #{$header} {
          display: inline-block;
          width: auto;
          @include fsz(16px);
          padding: 20px 0;
          margin-left: 40px;
          margin-right: 40px;
          position: relative;
        }
      }
    }

    &.item-active {
      > .sub-menu {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 0.3s;
      }
    }
    &:hover {
      > a{
        background-color: $dark-gray;
        .nav__visible & {
          @media #{$header} {
            background: none;
          }
        }
      }
      > .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }
    .sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 290px;
      background-color: $dark-gray;
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 15px 24px rgba(0, 0, 0, 0.5);
      z-index: 2;
      padding:20px 25px 20px 30px;
      li {
        margin-left: 0;
        &.menu-item-has-children {
          margin-left: 0;
          padding-right: 0;
        }
      }
      .nav__visible & {
        @media #{$header} {
          box-shadow: none;
          width: 100%;
          column-count: 1;
          position: relative;
          left: 100vw;
          display: block !important;
          overflow: hidden;
          padding: 0;
        }
      }
      @media #{$header} {
        position: static;
        visibility: visible;
        opacity: 1;
        background: none;
        display: none;
        width: 100%;
      }
      .sub-menu {
        left: 290px;
        top: 0;
      }
      > li {
        .nav__visible & {
          @media #{$header} {
            width: 100%;
            padding: 15px 20px;
            margin-right: 15px;
            border-bottom: 0;
            margin-left: 0;
          }
        }
        > a {
          color: $white;
          padding: 5px 0;
          text-transform: uppercase;
          display: block;
          font-weight: 400;
          @include fsz(11px);
          transition: none;
          &:hover,
          &:focus {
            font-weight: 700;
            background-color: white;
            color: $dark-gray;
            padding: 5px 5px 5px 20px;
          }
          .nav__visible & {
            @media #{$header} {
              display: inline-block;
              width: auto;
              @include fsz(16px);
              text-transform: uppercase;
              font-weight: 600;
              color: $white;
              padding: 0;
              border-bottom: 0;
              background-color: transparent;
            }
          }
        }
      }
    }
  }

}

.nav__parent-arrow--mobile {
  display: none;
  transition: all 0.1s ease-in-out;
  @media #{$header} {
    display: block;
  }
  .nav__visible & {
    @media #{$header} {
      position: absolute;
      top: 12px;
      right: -35px;
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      transform: rotate(90deg);
      color: white;
      vertical-align: middle;
    }
  }
  .nav__visible .menu-open &{
    transform: rotate(270deg);
    left: -35px;
    right: auto;
    top: 19px;
  }
  .icon{
    width: 13px;
    height: 13px;
  }
}


.mobile-nav__toggle {
  display: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  left: 9px;
  @media #{$header} {
    display: block;
  }
}
.primary-nav .mega-menu{
  .menu-open + .sub-menu{
    @media #{$header} {
      padding: 75px 0 0;
    }
  }
}
.primary-nav .mega-menu .sub-menu {
  width: 667px;
  -webkit-column-count: 2;
  column-count: 2;
  padding-right: 260px;
  @media screen and (min-width: 1099px) {
    height: auto !important;
    left: auto !important;
  }
  > li{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-backface-visibility: hidden;
    width: 100%;
  }
  li.menu-content{
    width: 260px;
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$header} {
      display: none;
    }
    .nav__visible & {
      @media #{$header} {
        display: block;
        position: absolute;
        height: auto;
        width: 100%;
        padding: 26px 10px;
        border-bottom: 1px solid $black;
        top: 0;
        left: 0;
      }
    }
    &.active:before{
      display: none;
    }
    &:before{
      content:"";
      display: block;
      height: calc(100% - 40px);
      width: 1px;
      background-color: $bright-gray;
      position: absolute;
      left:0;
      top: 20px;
      @media #{$header} {
       display: none;
      }
    }
    a{
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate3d(0, -50%, 0);
      @include fsz(15px);
      font-weight: 700;
      text-align: center;
      letter-spacing: 3.6px;
      color: $white !important;
      background: none !important;
      padding: 0 !important;
      .nav__visible & {
        @media #{$header} {
          padding-left: 53px !important;
          margin: 0 !important;
          width: auto;
        }
      }
      &:before{
        content:"";
        display: block;
        width: 69px;
        height: 70px;
        background: url("images/model-icon.png") no-repeat center center;
        background-size: cover;
        margin: 0 auto 15px;
        .nav__visible & {
          @media #{$header} {
            margin: 0;
            position: absolute;
            left: 0;
            top: -9px;
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}


.secondary-nav{
  display: none;
  @media #{$header} {
    display: block;
    padding: 25px 0;
  }
  .secondary-nav__item{
    text-align: center;
    margin-bottom: 13px;
  }
  a{
    @include fsz(14px);
    color:$white;
  }
}

