.hero {
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 65px 0 50px;
    max-height: calc(100vh - 85px);
    height: calc(56.25vw);

    @media #{$phone} {
        //min-height: 520px;
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 39%, rgba(7, 11, 22, 0.83) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 39%, rgba(7, 11, 22, 0.83) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 39%, rgba(7, 11, 22, 0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#d4070b16', GradientType=0); /* IE6-9 */
        z-index: 2;

        @media #{$phone} {
            background: rgba(0, 0, 0, 0.25);
        }
    }

    &.hero--model {
        display: block;

        .container {
            margin-top: 0;
        }
    }

    .heroVideo__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
    }

    #heroVideo iframe {
        width: 100vw;
        height: 56.25vw;
    }

    .container {
        margin-top: calc(253/766 * 56.25vw);
        z-index: 3;

        @media #{$phone} {
            margin-top: 0;
        }
    }

    .hero__content {
        position: relative;
        z-index: 1;
        padding: 12px 20px;
        max-width: 710px;

        @media #{$phone} {
            padding: 12px 10px;
        }
    }

    &.hero--inner {
        .hero__title {
            margin-right: 26px;
            margin-bottom: 0;
            font-size: 35px;

            @media #{$phone} {
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 22px;
                text-align: center;
            }

            &:before {
                display: none;

            }

            &:after {
                display: none;
            }
        }

        .hero__description {
            position: relative;
            padding-left: 21px;
            font-size: 15px;
            max-width: 615px;
            color: #FFFFFF;
            letter-spacing: 3.62px;
            text-transform: uppercase;

            @media #{$phone} {
                display: none;
            }

            &:before {
                content: '';
                position: absolute;
                height: 64px;
                width: 1px;
                top: 50%;
                left: 0;
                transform: translate3d(0, -50%, 0);
                background-color: $dusty-gray;
            }
        }
    }

    .hero__title {
        text-transform: uppercase;
        color: $white;
        @include fsz(76px);
        line-height: 1;
        position: relative;
        max-width: 655px;

        @media #{$phone} {
            @include fsz(45px);
        }

        @media #{$phone} {
            @include fsz(40px);
        }

        &:before {
            content: "";
            display: block;
            height: 1px;
            width: 468px;
            background-color: $white;
            position: absolute;
            top: -13px;
            left: 0;
            @media #{$phone} {
                display: none;
            }
        }

        &:after {
            content: "";
            display: block;
            height: 2px;
            background-image: linear-gradient(90deg, #fff, #fff 40%, transparent 40%, transparent 100%);
            background-size: 13px 1px;
            border: none;
            width: 190px;
            position: absolute;
            top: 10px;
            left: -107px;
            transform: rotate(90deg);
            @media #{$phone} {
                display: none;
            }
        }

        strong {
            -webkit-text-fill-color: rgba(255, 255, 255, 0.16);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            @include fsz(38px);
            display: block;
            line-height: 30px;
            padding-left: 7px;
            @media #{$phone} {
                @include fsz(22px);
                line-height: 20px;
                padding-left: 5px;
            }
        }

        &--no-line:before {
            display: none;
        }
    }

    .play-btn {
        position: absolute;
        top: -60px;
        right: 0;
        @media #{$phone} {
            width: 90px;
            height: 90px;
            top: 46px;
            font-size: 12px;
            text-indent: -105px;
            right: auto;
            left: 270px;
        }
        @media #{$phone} {
            right: 10px;
            left: auto;
        }
    }
}

.play-btn {
    position: relative;
    width: 170px;
    height: 170px;
    background-size: cover;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;

    @media #{$phone} {
        width: 90px;
        height: 90px;
        top: 46px;
        font-size: 12px;
        right: auto;
        left: 270px;
    }

    @media #{$phone} {
        right: 10px;
        left: auto;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("images/video-play-icon.png") no-repeat 0 0;
        background-size: contain;
        pointer-events: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("images/video-play-ring.png") no-repeat 0 0;
        background-size: contain;
        pointer-events: none;
        transition: $transition;
    }

    &:hover,
    &:focus {

        &:after {
            transform: rotate(-166deg);
        }
    }

    span {
        display: block;
        text-indent: -85px;

        @media #{$phone} {
            text-indent: -105px;
        }
    }
}

.hero--inner {
    padding: 0;
    height: 185px;
    min-height: 185px;
    @media #{$phone} {
        height: 90px;
        min-height: 90px;
    }

    &:after {
        display: none;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero__content {
        display: flex;
        padding: 0;
        align-items: center;
        max-width: none;

        @media #{$phone} {
            width: 100%;
        }
    }
}

.hero__mobile-image {
    display: none;
    @media #{$phone} {
        display: block;
    }
}

.hero--inner-large {
    padding: 67px 0;
    height: 460px;
    min-height: 460px;
    position: relative;
    @media #{$phone} {
        background: none !important;
        padding: 0;
        height: auto;
        min-height: auto;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(45deg, rgba(58, 66, 73, 1) 0%, rgba(52, 59, 66, 1) 10%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(58, 66, 73, 1) 0%, rgba(52, 59, 66, 1) 10%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(58, 66, 73, 1) 0%, rgba(52, 59, 66, 1) 10%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a4249', endColorstr='#00000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        @media #{$phone} {
            display: none;
        }
    }

    .container {
        align-items: flex-end;
        @media #{$phone} {
            padding: 0;
            display: block;
        }
    }

    .hero-post {
        flex-direction: column;
        align-items: flex-start;
        max-width: 680px;
        color: $white;
        @media #{$phone} {
            background-color: $bright-gray;
            max-width: 100%;
            padding: 38px 10px 50px;
            text-align: center;
        }

        .btn {
            @media #{$phone} {
                background-color: transparent;
                border: 1px solid;
                padding: 16px 27px;
                color: $white;
            }
        }
    }

    .hero-post__title {
        @include fsz(35px);
        text-transform: uppercase;
        margin-bottom: 0;
        @media #{$phone} {
            @include fsz(22px);
            margin-bottom: 3px;
        }

        a {
            color: #fff;
        }
    }

    .hero-post__meta {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        @include fsz(10px);
        text-indent: 1px;
        border-bottom: 1px solid #747474;
        padding-bottom: 8px;
        color: $white;
        max-width: 340px;
        margin-bottom: 10px;
        @media #{$phone} {
            margin: 0 auto 20px;
            color: $silver;
            padding-bottom: 15px;
        }
    }

    .hero-post__description {
        margin-bottom: 30px;
        @media #{$phone} {
            @include fsz(14px);
        }
    }
}

.hero--news-single {
    padding: 30px 0;
    height: 460px;
    min-height: 460px;
    position: relative;
    @media #{$phone} {
        background: none !important;
        padding: 0;
        height: auto;
        min-height: auto;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 160px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(31, 34, 37, 0.94) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(31, 34, 37, 0.94) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(31, 34, 37, 0.94) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f51f2225', GradientType=0); /* IE6-9 */
        @media #{$phone} {
            height: 100px;
        }
    }

    .arrow-link {
        position: absolute;
        bottom: 28px;
        left: 33px;
        @include fsz(11px);
        text-transform: uppercase;
        letter-spacing: 2.6px;
        color: #CFCFCF;
        font-weight: 700;
        @media #{$phone} {
            @include fsz(10px);
            bottom: 12px;
            left: 15px;
        }

        &:hover {
            color: $white;
        }

        svg {
            transform: rotate(-90deg);
            width: 13px;
            height: 13px;
            margin-top: -1px;
            margin-right: 3px;
            @media #{$phone} {
                width: 11px;
                height: 11px;
                margin-right: 6px;
            }
        }
    }
}

.hero--model {
    position: relative;
    min-height: 0;
    height: calc(580/1440 * 100vw);
    max-height: calc(100vh - 85px);
    padding: 0;
    overflow: hidden;

    @media (max-width: 620px) {
        min-height: 350px;
        height: auto;
        max-height: none;
    }

    .container {
        position: static;
        @media #{$phone} {
            padding: 0;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    }

    .model__title-box {
        box-shadow: 0 2px 38px rgba(0, 0, 0, 0.5);
        background-color: #796A55;
        color: $white;
        position: relative;
        width: 183px;
        min-height: 162px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        padding: 25px 15px;
        z-index: 3;

        @media #{$phone} {
            min-height: 0;
            width: 100%;
            padding: 13px 10px;
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: url(images/wave-overlay.png) no-repeat center center;
            background-size: cover;
            mix-blend-mode: multiply;
            @media #{$phone} {
                display: none;
            }
        }

        &.model__title-box--imgTitle {
            padding: 0;
            background-color: transparent;

            @media #{$phone} {
                background-color: #564D40;
                padding: 13px 10px;
            }

            &:after {
                display: none;
            }

            .model__title {
                @extend .accessible-text;

                @media #{$phone} {
                    border: 0;
                    clip: unset;
                    height: auto;
                    top: auto;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    width: auto;
                }
            }
        }
    }

    .model__title {
        letter-spacing: 3.6px;
        @include fsz(14px);
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0;
        @media #{$phone} {
            @include fsz(22px);
        }

        strong {
            display: block;
            font-weight: 700;
            @include fsz(70px);
            line-height: 55px;
            @media #{$phone} {
                @include fsz(22px);
                display: inline;
                line-height: 1.1;
            }
        }
    }

    .model__title--img {
        display: block;
        width: 100%;
        height: auto;

        @media #{$phone} {
            display: none;
        }
    }

    .model__360-view {
        display: block;
        width: 75px;
        height: 72px;
        background: url(images/360-icon.svg) no-repeat center center;
        position: absolute;
        right: 8%;
        bottom: 100px;
        z-index: 4;

        @media #{$desktop} {
            right: 50px;
            bottom: 50px;
        }
        @media #{$phone} {
            width: 35px;
            height: 35px;
            background-size: contain;
            right: 25px;
            bottom: 25px;
        }
    }
}

.hero__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //visibility: visible;
    //opacity: 1;
    //transition: visibility 0s linear 0s, opacity 300ms;
    z-index: 2;

    .spinner-active & {
        //visibility: hidden;
        //opacity: 0;
        //transition: visibility 0s linear 300ms, opacity 300ms;
    }
}

.spinner__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    z-index: 1001;

    .spinner-active & {
        pointer-events: all;
        opacity: 1;
    }

    .spinner__toggle {
        display: block;
        position: absolute;
        right: 5%;
        top: 40px;
        //left: 50%;
        //bottom: 20%;
        //transform: translate3d(-50%, 0, 0);
        transform: none;
        z-index: 10;
        background-color: #f4f4f4;
        width: 40px;
        height: 40px;

        &:before,
        &:after {
            background-size: 27px auto;
            transform: rotate(45deg);
        }

        &:before {

        }
    }
}

.spinner__inner {
    position: relative;


}

#spinner-view {
    position: absolute !important;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 90%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;

    @media (max-width: 620px) {
        //top: 0;
        //transform: none;
        //height: 100% !important;
    }

    .spritespin-stage,
    .spritespin-canvas {

        @media (max-width: 620px) {
            height: 100% !important;
            width: auto !important;
            left: 50% !important;
            transform: translate3d(-50%, 0, 0);
        }
    }
}

.hero--overlay {
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(31, 34, 37, 0.5);
        @media #{$phone} {
            display: none;
        }
    }
}

.custom-hero {
    .container {
        max-width: 1200px;
        padding: 0;
    }
}
