.owners-portal__upload{
    background: #f8f8f8;

    .container{
        display: flex;

        @media #{$phone} {
            display: block;
        }
    }
}

.owner-portal__form{
    padding: 18px 23px 42px;
}

.owner-portal__form-wrap{
    width: 50%;
    border-right: 1px solid #979797;
    height: 100%;

    @media #{$phone} {
        width: auto;
        border-right: none;
        border-bottom: 1px solid #979797;
    }

    &:last-child {
        border-right: none;

        @media #{$phone} {
            border-bottom: none;
        }
    }
}

.owners-portal__form-input{
    border-radius: 0;
    outline: 0;
    width: 100%;
    box-shadow: none;
    color: #1f2225;
    display: flex;
    font-family: $primary-family;
    font-size: .6875rem;
    margin-bottom: 10px;
}

.owners-portal__input-file{
    justify-content: space-between;
}

.owners-portal__input-radio{
    display: block;
}


#owner_gallery_upload_image_submit,
#owner_gallery_upload_video_submit{
    background-color: #1f2225;
    color: #fff;
    border-color: #1f2225;
    &:hover, &:focus{
        background-color: #fff;
        color: #1f2225;
    }
}
